// AudioTrack backend to be added by the JNI port.
general = {
  name = "Shairport AP2 Android";
  model = "AudioAccessory1,1";
  service_type = "airplay2";
  output_backend = "audiotrack";
  mdns_backend = "tinysvcmdns";
  interface = "wlan0";
  port = 7000;
  playback_mode = "stereo";
};
